.node-message{
	margin-top : 10px;
	margin-left: 10px;
}

.node-image{
	cursor: pointer;
}

.modal-img-footer{
	margin : 10px;
}

.thumbnail-img{
	width : 300px;
	height: 300px;
	/* object-fit: cover; */
}
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}
